.col-lg-3
  %ul.list-group.list-group-tabs
    %li.list-group-item{:class => ('active' if params[:action] == 'edit')}
      = link_to_with_icon 'ico-user2 mr5', "Profile <span class='semibold'>(ID: #{@user.code})</span>", edit_user_path(@user)
    - unless @user.deleted?
      %li.list-group-item{:class => ('active' if params[:action] == 'change_password')}
        = link_to_with_icon 'ico-key2 mr5', 'Password', change_password_user_path(@user)
