<div id="password" class="tab-pane active">
  <!-- form password -->
    <div class="panel-body pt0 pb0">
      <div class="form-group header bgcolor-default">
        <div class="col-md-12">
          <span style="float:left">
            <h4 class="semibold text-primary mt0">Password</h4>
          </span>
            <span style="float:right">
              <%=f.submit :class => "btn btn-success", :value => "Update"%>
              <%= link_to "Cancel", users_path, class: 'btn btn-default' %>
            </span>
        </div>
      </div>

      <div class="form-group">
        <label class="col-sm-3 control-label">
          New password
          <span class="text-danger">*</span>
        </label>

        <div class="col-sm-6">
          <div class="form-stack has-icon pull-left">
            <%= f.password_field :password, :placeholder => "Password", :class => 'form-control input-lg', :data => { :'parsley-required' => ""} %>
            <i class="ico-lock2 form-control-icon"></i>
          </div>
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-3 control-label">
          Confirm new password
          <span class="text-danger">*</span>
        </label>
        <div class="col-sm-6">
          <div class="form-stack has-icon pull-left">
            <%= f.password_field :password_confirmation, :placeholder => "Confirm Password", :class => 'form-control input-lg', :data => { :'parsley-required' => ""} %>
            <i class="ico-lock2 form-control-icon"></i>
          </div>
        </div>
      </div>
    </div>
</div>
