= render partial: 'nav' 
.col-lg-9
  = simple_form_for @user, html: { autocomplete: "off", class: 'user-profile jsvalidate panel form-horizontal form-bordered'} do |f|
    = render partial: 'password_form', locals: {:f => f}

