<div class="input-group">
  <div class="has-icon">
    <input type="text" class="form-control" placeholder="Filter message...">
    <i class="ico-search form-control-icon"></i>
  </div>
  <div class="input-group-btn">
    <button type="button" class="btn btn-default">Search</button>
    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></button>
    <ul class="dropdown-menu pull-right" role="menu">
      <li class="dropdown-header">Filter :</li>
      <li><a href="javascript:void(0);"><i class="icon ico-download22"></i>Inbox</a></li>
      <li><a href="javascript:void(0);"><i class="icon ico-upload22"></i>Outbox</a></li>
      <li><a href="javascript:void(0);"><i class="icon ico-remove4"></i>Trash</a></li>
      <li class="divider"></li>
      <li><a href="javascript:void(0);"><i class="icon ico-briefcase2"></i>Others</a></li>
    </ul>
  </div>
</div>

