//= require adminre_theme_v120/library/bootstrap/css/bootstrap
//= require adminre_theme_v120/stylesheet/layout
//= require adminre_theme_v120/stylesheet/uielement

.hand-box {
  width: 50px;
  height: 32px;
  border: 1px solid #cfd9db;
  border-radius: 3px;
}

.hotel-name{
  color: rgb(255, 0, 73) !important;
}