<% content_for :header do %>
    <p style="margin: 0; text-align: justify;">
        Hello <%= @resource.name %>!
    </p>
    <p  style="margin: 0; text-align: justify;">
      Someone has requested a link to change your password. You can do this through the link below.
    </p>
<% end %>

<% content_for :action do %>
    <a class="kmButton " title="" href="<%= edit_password_url(@resource, reset_password_token: @token) %>" target="_self" style="word-wrap: break-word; font-weight: normal; letter-spacing: -0.5px; line-height: 100%; text-align: center; text-decoration: underline; color: #0000cd; font-family: Helvetica, Arial; font-size: 16px; text-decoration:initial;color:#FFFFFF;font-weight:bold;font-size:16px;font-family:Helvetica, Arial;padding-top:0;padding-bottom:0;">Change my password</a>
<% end %>

<% content_for :footer do %>
    <p style="margin: 0; text-align: justify;">If you didn't request this, please ignore this email.</p>
    <p style="margin: 0; text-align: justify;">Your password won't change until you access the link above and create a new one.</p>
<% end %>
