<% content_for :header do %>
    <p style="margin: 0; text-align: justify;">
      <%= @property.name %> has sent an invitation to join your corporate. You may review the invitation by clicking the link.
    </p>
<% end %>

<% content_for :action do %>
    <a class="kmButton " title="" href="<%= corporate_property_connection_url(@connection) %>" target="_self" style="word-wrap: break-word; font-weight: normal; letter-spacing: -0.5px; line-height: 100%; text-align: center; text-decoration: underline; color: #0000cd; font-family: Helvetica, Arial; font-size: 16px; text-decoration:initial;color:#FFFFFF;font-weight:bold;font-size:16px;font-family:Helvetica, Arial;padding-top:0;padding-bottom:0;">Review Invitation</a>
<% end %>